<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- rolling the log file based on data and time and size -->
<property name="HOME_LOG" value="logs/app.log"/>
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p ---[%t] %C : %m %n</pattern>
		</encoder>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME_LOG}</file>
		<encoder>
			<pattern>%d %p ---[%t] %C : %m %n
			</pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>MyApp-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>1MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>10MB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
	</appender>
	<logger name="com.psa.opv.newvehicle" level="debug" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console" />
    </logger>
	<root level="info">
		<appender-ref ref="Console" />
	</root>
</configuration>